
$blue: #3b5998;
$grey: #ccc;

@mixin transform($property) {
  -webkit-transform: $property;
  -moz-transform:    $property;
  -ms-transform:     $property;
  -o-transform:      $property;
  transform:         $property;
}

* {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.5;
  color: #777;
}

body { background-color: #fff; }

#schedule {
  display: block;
  width: 620px;
  height: 720px;
  padding: 0 10px;
  margin: 60px 0 80px 150px;
  background-color: #e2e2e2;
  position: relative;

  .label-layer {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .schedule-layer {
    height: 100%;
    z-index: 5;
  }

  hr {
    @include transform(translateY(-50%));
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    border: none;
    background-color: rgba(white, .6);
    margin: 0;
    padding: 0;
  }
} //-- #schedule

.time-label {
  @include transform(translateY(-50%));
  position: absolute;
  left: -85px;
  font-weight: bold;
  font-size: 14px;
  display: block;
  width: 75px;
  text-align: right;

  &.small {
    font-weight: normal;
    font-size: 12px;
    color: $grey;
  }

  .period {
    display: inline-block;
    margin-left: 5px;
    font-weight: normal;
    font-size: 12px;
    color: $grey;
  } //-- .period
} //-- .time-label

.event {
  border-left: 3px solid $blue;
  position: absolute;
  display: block;
  width: 100%;
  background-color: #fff;
  padding: 10px 15px;
  box-shadow: 0 0 2px -1px $grey;
  overflow: hidden;

  h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 18px;
    color: $blue;
  }
  p {
    font-size: 12px;
    margin-top: 0;
  }
} //-- .event
